#cloud-config
# See documentation for more configuration examples
# https://cloudinit.readthedocs.io/en/latest/reference/examples.html

# Upgrade the instance on first boot
package_upgrade: true

# Install arbitrary packages
# https://cloudinit.readthedocs.io/en/latest/reference/examples.html#install-arbitrary-packages
packages:
  # - npm
  - unzip
  - docker

# Run commands on first boot
# https://cloudinit.readthedocs.io/en/latest/reference/examples.html#run-commands-on-first-boot
runcmd:
  - sudo yum install -y https://s3.amazonaws.com/ec2-downloads-windows/SSMAgent/latest/linux_amd64/amazon-ssm-agent.rpm
  - sudo systemctl status amazon-ssm-agent
  - sudo systemctl start amazon-ssm-agent
  - sudo systemctl start docker
  - sudo curl -L https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m) -o /usr/local/bin/docker-compose
  - sudo chmod +x /usr/local/bin/docker-compose
  - mkdir -p /srv/frontend
  - mkdir -p /srv/backend
  - aws s3 cp s3://${ARTIFACT_BUCKET}/dev/frontend.zip /tmp/frontend.zip
  - aws s3 cp s3://${ARTIFACT_BUCKET}/dev/backend.zip /tmp/backend.zip
  - unzip /tmp/frontend.zip -d /srv/frontend
  - unzip /tmp/backend.zip -d /srv/backend
  - USERNAME=$(aws secretsmanager get-secret-value --secret-id "${HOST_SECRET_NAME}" | jq -r '.SecretString' | jq -r '.username')
  - useradd "$USERNAME"
  - usermod -aG docker "$USERNAME"
  - su - "$USERNAME" -c "curl -fsSL https://get.pnpm.io/install.sh | sh -"
  - su - "$USERNAME" -c "curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash"
  - su - "$USERNAME" -c "nvm install --lts"
  - chown -R "$USERNAME":"$USERNAME" /srv/frontend
  - chown -R "$USERNAME":"$USERNAME" /srv/backend
  - cd /srv/backend
  - su - "$USERNAME" -c "./scripts/build.sh"
  - su - "$USERNAME" -c "docker-compose up -d"
  - su - "$USERNAME" -c "pnpm install"
  - su - "$USERNAME" -c "nohup pnpm start:prod > /dev/null 2>&1 &"
  - su -
